{
  "env": {
  "browser": true,
  "es6": true,
  "es2017": true
  },
  "extends": [
    "eslint:recommended",
    "airbnb-typescript/base",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
	],
 	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"project": "tsconfig.json",
		"tsconfigRootDir": "."
	},
	"plugins": ["@typescript-eslint"],
	"rules": {
        "constructor-super": "off",
        "getter-return": "off",
        "no-const-assign": "off",
        "no-dupe-args": "off",
        "no-dupe-class-members": "off",
        "no-dupe-keys": "off",
        "no-func-assign": "off",
        "no-import-assign": "off",
        "no-new-symbol": "off",
        "no-obj-calls": "off",
        "no-redeclare": "off",
        "no-setter-return": "off",
        "no-this-before-super": "off",
        "no-undef": "off",
        "no-unreachable": "off",
        "no-unsafe-negation": "off",
        "no-var": "error",
        "prefer-const": "error",
        "prefer-rest-params": "error",
        "prefer-spread": "error",
        "valid-typeof": "off",
        "linebreak-style": "off",
        "indent": ["error", 4, { "MemberExpression": 1 }],
        "@typescript-eslint/indent": ["error", 4, { "MemberExpression": 1 }],
        "import/prefer-default-export": "off",
        "no-unused-expressions": "off",
        "no-param-reassign": [2, { "props": false }],
        "max-len": ["error", { "code": 120 }]
    }
}