
*
    font-family: 'Roboto'
    box-sizing: border-box

body
    margin: 0

.container
    width: 1140px
    margin: 30px auto
    height: 50vh
    display: grid
    place-items: center


.slider
    position: relative
    width: 540px
    height: 20px
    display: grid
    align-items: center
    border: none
    &_vertical
        height: 540px
        width: 20px 
        place-items: center
    &__bar
        position: relative
        width: 540px
        height: 10px
        background: #fff
        border-radius: 10px
        box-shadow: 0 0 0 1px #888888
        &_vertical
            width: 10px
            height: 540px
    &__dot
        position: absolute
        display: block
        width: 20px
        height: 20px
        background: #57a0ff
        top: 0
        border-radius: 50%
        cursor: pointer
        &_wrapper
            &_first, &_second
                position: absolute
                top: 0
                width: 20px
                height: 20px
            &_first
                display: none
        &_first, &_second
            &_value
                position: absolute
                top: -25px
                min-width: 30px
                height: 20px
                border: 1px solid #000
                border-radius: 3px
                padding: 1px
                left: 50%
                transform: translateX(-50%)
                white-space: nowrap
                background: #fff
    &__filler
        position: absolute
        background: #003a86
        width: 0
        height: 0
        max-width: 100%
        max-height: 100%
        border-radius: 10px
    &__value
        position: absolute
        width: 20px
        height: 20px
        top: 100%
        left: 0
    &__min, &__max
        position: absolute
        min-width: 30px
        height: 20px
        border-radius: 3px
        padding: 1px
        white-space: nowrap
        background: #cacaca
        color: #fff
        top: -25px
    &__min
        transform: translateX(-50%)
        &_vertical
            right: 0
            top: 0
            transform: translateX(110%)
    &__max
        right: 0
        transform: translateX(50%)
        &_vertical
            transform: translate(110%, -100%)
            top: 100%
        

.hidden
    display: none

.shown
    display: block