@import ./fonts
*
  font-family: 'Roboto'
  font-weight: 300
  box-sizing: border-box

body
  margin: 0

.container
  width: 100%
  max-width: 960px
  padding: 20px
  margin: 0 auto
  display: grid
  place-items: center

.hidden
  display: none !important

.shown
  display: block !important
